@font-face{
	font-family: use;
	src:url('thin.ttf');
}
body{
	position: absolute;
	left: 0;
	top:0;
	margin: 0;
	padding: 0;
	width:100%;
	height: 100%;
	overflow: hidden;
}
#viewport{
	position: relative;
	top: 0;
	left: 0;
	padding: 0;
	margin: 0;
	width:100%;
	height: 100%;
}
#frm{
	position: relative;
	margin: 0 auto 0 auto;
	top: 40%;
	width:20%;
	height: 25%;
	background: rgba(0,0,0,0.3);
}
#login{
	position: relative;
	width:40%;
	left: 35%;
	top: 10%;
	font-family:use;
}
input{
	position: relative;
	width: 50%;
	left: 25%;
}
#submit{
	position: relative;
	width: 30%;
	left:35%;
}
